---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
NamespaceIndentation: None

# Line length
ColumnLimit: 100

# Braces
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<mtl/'
    Priority: 1
  - Regex: '^<(gtest|benchmark)/'
    Priority: 2
  - Regex: '^<(fmt|spdlog)/'
    Priority: 3
  - Regex: '^<[A-Z]'
    Priority: 4
  - Regex: '^<'
    Priority: 5
  - Regex: '^"'
    Priority: 6

# Spacing
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Alignment
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
AlignAfterOpenBracket: Align

# Pointers & references
PointerAlignment: Left
ReferenceAlignment: Left

# Templates
SpaceAfterTemplateKeyword: false
AlwaysBreakTemplateDeclarations: Yes

# Constructor initializers
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
PackConstructorInitializers: Never

# Access modifiers
AccessModifierOffset: -4

# Penalties
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyReturnTypeOnItsOwnLine: 200

# Comments
ReflowComments: true

# Trailing commas
InsertTrailingCommas: None
...
